# Data Science Tools and Ecosystem

In this notebook, Data Science Tolls and Ecosystem are summarized.

**Objectives:**
- Languages used by data scientists
- Libraries used by data scientists
- Data science tools
- Evaluating arithematic expressions on python
- Converting minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Tensorflow
3. Pandas

|Data Science Tools|
|------------------| 
|Jupiter Notebook  |
|R Studio          |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Abhishek Vedula